.classpath
.DS_Store
.sfdx
.project
.salesforce
.vscode
node_modules
.idea
.tern-project
.settings
selenium-client-jars/
test/artifacts
force-app/main/default/samlssoconfigs/
force-app/main/default/authproviders/
force-app/main/default/classes/AutocreatedRegHandler*
force-app/main/default/workflows/
